body {
	background: #cccccc;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: white;
	position: relative;
}

#triangle {
	width: 75px;
	height: 0;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}

#pocari {
	width: 120px;
	height: 250px;
	background: blue;
	top: 203px;
	left: 470px;
	position: absolute;

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#ramen {

width: 100px;
border-top: 200px solid red;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
top: 253px;
left: 300px;
position: relative;

}

#circle {
	width: 180px;
	height: 50px;
	background: darkred;
	border-radius: 100px / 40px;
	position: absolute;
	left: 300px;
	top: 230px;

}

 #egg {
      display: block;
      width: 126px;
      height: 150px;
      background-color: yellow;
      border-radius: 40% 40% 50% 50% / 50% 50% 40% 40%;
      transform: translate(150px, 100px );
    }

 #egg2 {
      display: block;
      width: 126px;
      height: 150px;
      background-color: yellow;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      transform: translate(150px, 200px ) scale(1.2, 1.2);

    }
	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/