p{color: black;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h3{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body{
	background-color: #84DCC8;
	margin: 20px;
	}

img{
	width: 200px;
	height: 200px;
	border-width: 10px;
	border-style: groove;

	}

div{
	width: 500px;
	height: 500px;
	padding: 50px;
	background-color: white;



}

body.dark {
  background: #333;
}

div.dark{

	background: #888;
}